<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440318868668-adn8o3src8rauo243bt19jbiiigu80bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440318868668-adn8o3src8rauo243bt19jbiiigu80bm</string>
	<key>API_KEY</key>
	<string>AIzaSyB4b8WNwLCw1j9qMt_tccb0VqXPtcyY8ls</string>
	<key>GCM_SENDER_ID</key>
	<string>440318868668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yadekanbir.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-8f29d</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-8f29d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440318868668:ios:a92bec1099dc92faa9e4b9</string>
</dict>
</plist>